.explore{
    width: 990px;
    display: flex;
    justify-content: space-between;
}

/* ======================================================================== */
/* ======================================================================== */

.explore__right{
    width: 350px;
    min-height: 100vh;
}

.who__follow{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    border-radius: 16px;
    background: var(--card-bg);
    margin-top: 16px;
}

.who__like{
    width: 100%;
    height: 48px;
    padding: 12px 16px;
    font-size: 20px;
    font-weight: 900;
}

.like__recomendation{
    width: 100%;
    height: 72px;
    padding: 12px 16px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.like__recomendation:hover{
    background: var(--card-hover);
}

.recomendation__picture{
    width: 48px;
    height: 48px;
    margin-right: 12px;
}

.recomendation__img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.recomendation__texts{
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    align-items: center;
}

.recomendation__names{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.recomendation__name{
    font-size: var(--medium-font);
    color: var(--other-font);
    font-weight: bold;
}

.recomendation__name:hover{
    text-decoration: underline;
}

.recomendation__username{
    font-size: var(--medium-font);
    color: var(--inactive-font);
}

.recomendation__cta{
    width: max-content;
    height: 30px;
    line-height: 30px;
    padding: 0 16px;
    font-size: var(--medium-fontmobile);
    color: var(--color-text);
    font-weight: bold;
    background: #000;
    border-radius: 15px;
}

.show{
    width: 100%;
    height: 52px;
    padding: 12px 16px;
    color: var(--primary-color);
    font-size: var(--medium-font);
}

.show:hover{
    border-radius: 0 0 16px 16px;
    background: var(--card-hover);
}

/* ========================================================================== */
/* ========================================================================== */

.explore__left{
    width: 599px;
    border-right: var(--border-gray);
    min-height: 100vh;
    position: relative;
}

.explore__header{
    display: flex;
    justify-content: space-between;
    width: 599px;
    height: 53px;
    padding: 0 16px;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 9;    
    background: rgba( 255, 255, 255, 0.6 );    
    backdrop-filter: blur( 15px );
    -webkit-backdrop-filter: blur( 100px );
}

.search{
    position: relative;
    width: 85%;
    height: 43px;
}

.search__iconbox{
    position: absolute;
    width: 44px;
    height: 44px;
    text-align: center;
    line-height: 44px;
}

.explore__input{
    padding: 12px 12px 12px 56px;
    height: 42px;
    width: 100%;
    border: none;
    outline: none;
    background: var(--card-bg);
    border-radius: 21px;
    font-size: 14px;
}

.explore__input:focus{
    background: #fff;
    border: 1px solid var(--primary-color);
}

.settings__iconbox{
    width: 56px;
    height: 100%;
    text-align: end;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.bi-gear{
    font-size: 20px;
    font-weight: bold;
    width: 34px;
    height: 34px;
    color: var(--other-font);
    text-align: center;
    border-radius: 50%;
    line-height: 34px;
}

.bi-gear:hover{
    background: var(--card-bg);
}

/* ======================================================================================================== */

.explore__header-mobile{
    display: none;
    width: 100vw;
    height: 53px;
    padding: 0 16px;
    align-items: center;    
}

.explore__header-sidebar{
    width: 56px;
    height: 53px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sidebar__cta{
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.explore__search-mobile{
    flex-grow: 1;
}

.search__mobile{
    position: relative;
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
}

.input__mobile{    
    width: 100%;
    height: 30px;
    border-radius: 15px;
    padding: 4px 12px 4px 56px;
    border: none;
    outline: none;
    background-color: var(--back-input);
}

.iconbox__mobile{        
    position: absolute;
    width: 44px;
    height: auto;
    padding-left: 12px;
}

.icon-mobile{    
    color: rgb(83, 100, 113);
}

/* ======================================================================================================== */

.explore__header-return{
    width: 56px;
    height: 53px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.searching{    
    background-color: var(--color-text);
    border: 1px solid var(--primary-color);
}

.searching__icon{
    color: var(--primary-color);
}

.modal__search-mobile{
    position: absolute;
    top: 53px;
    bottom: 53px;
    left: 0;
    width: 100vw;
    overflow-x: auto; 
    background-color: var(--color-text);
    z-index: 9999;
}

.without__results{
    position: relative;
    display: inline-block;
    width: 100vw;    
    padding: 12px;
    font-size: var(--medium-font);
    color: var(--inactive-font);
    text-align: center;
}

/* ======================================================================================================== */

.card{
    width: 100%;
    height: auto;
}

.card__user{
    width: 100%;
    height: auto;
    display: flex;
    padding: 12px 16px;
}

.card__picture{
    width: 56px;
    height: 100%;
    margin-right: 12px;
}

.card__img{
    width: 56px;
    height: 56px;
    border-radius: 50%;
}

.card__userinfo{
    width: 100%;
    display: flex;
    flex-direction: column;    
}

.user__firstname{
    font-size: var(--medium-font);
    color: var(--other-font);
    font-weight: bold;
}

.user__username,.user__bio{
    font-size: var(--medium-font);
    color: var(--inactive-font);
}

/* ======================================================================================================== */

.explore__tabs{
    display: flex;
    width: 599px;
    height: 53px;
    text-align: center;
    align-items: center;
    position: fixed;
    top: 53px;
    z-index: 9;
    background: rgba( 255, 255, 255, 0.6 );    
    backdrop-filter: blur( 15px );
    -webkit-backdrop-filter: blur( 100px );       
}

.explore__tab{
    display: flex;
    width: auto;
    height: 100%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    flex-grow: 1;
}

.explore__tab:hover{
    background: var(--card-bg);
}

.exp__cta{
    font-size: var(--medium-font);
    color: var(--inactive-font);
    font-weight: bold;
}

.route__underline{
    text-decoration: underline #1d9bf0 4px;
    text-underline-offset: 14px;
    color: var(--other-font);
}

/* ======================================================================================================== */

.news__section{
    width: 100%;
    margin-top: 106px;
}

.headline__picture{
    position: relative;
    width: 100%;
    height: 45vh;    
}

.headline__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img__gradient{
    position: absolute;
    top: 0;
    bottom: 350px;
    width: 100%;
    height: 45vh;
    background: linear-gradient(180deg, rgba(240,188,55, 0 ) 5%, rgba(0,0,0,0.8 ) 95%);
}

.headline__texts{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 16px;
    bottom: 16px;
    max-width: 37vw;
}

.headline__texts-responsive{
    display: none;
    flex-direction: column;
    position: absolute;
    left: 16px;
    bottom: 16px;
    width: 100vw;
}

.theme{
    font-weight: bold;
    color: #fff;
    font-size: var(--small-font);
}
.title{
    font-weight: bold;
    color: #fff;
    font-size: var(--large-font);
    margin: 4px 0;     
}

/* ======================================================================================================== */

.card__trending{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    padding: 12px 16px;
    cursor: pointer;
}

.card__trending:hover{
    background: var(--card-bg);
}

.card__left{
    display: flex;
    flex-direction: column;
    width: auto;
}

.trending__topic{
    display: flex;
    height: 16px;
    align-items: center;
}

.topic{
    font-size: var(--small-font);
    color: var(--inactive-font);
}

.trending__hashtag{
    display: flex;
    align-items: center;
    height: 20px;
    margin-top: 2px;
}

.hashtag{
    font-size: var(--medium-font);
    font-weight: bold;
    color: var(--other-font);
}

.trending__count{
    display: flex;
    align-items: center;
    height: 16px;
    margin-top: 4px;
}

.count{
    font-size: var(--small-font);
    color: var(--inactive-font);
}

.bi-three-dots{
    position: relative;
    display: block;
    font-size: 1rem;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    text-align: center;
    line-height: 34px;
}

.bi-three-dots:hover{
    color: var(--primary-color);
    background: var(--primary-bg);
}

/* ======================================================================================================= */

.card__sports{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 12px 16px;
    cursor: pointer;
}

.card__sports:hover{
    background: var(--card-bg);
}

.sports__headline{
    display: flex;
    justify-content: space-between;
    height: 16px;
    margin: 4px 0;
}

.sports__title{
    font-size: var(--small-font);
    font-weight: bold;
    color: var(--inactive-font);
}

.sports__date{
    font-size: var(--small-font);
    font-weight: bold;
    color: var(--inactive-font);
}

.sports__match{
    width: 100%;
    height: 96px;
    border-radius: 4px;
}

.sports__team{
    height: 48px;
    background: #fff;
    display: flex;
    align-items: center;
    padding: 0 12px;
    border-radius: 4px 4px 0 0;
}

.sports__picture{
    width: 40px;
    height: 32px;
}

.sports__img{
    width: 100%;
    height: 32px;
    line-height: 32px;
}

.sports__team-name{
    margin: 0 12px;
}

.team__name-one{
    font-size: var(--medium-font);
    font-weight: bold;
    color: #000;
}

.sports__team-two{
    height: 48px;
    background: #c8102e;
    display: flex;
    align-items: center;
    padding: 0 12px;
    border-radius: 0 0 4px 4px;
}

.sports__picture{
    width: 40px;
    height: 32px;
    display: flex;
    justify-content: center;
}

.sports__img-two{
    width: 80%;
    height: auto;
    object-fit: cover;
    line-height: 32px;
}

.team__name-two{
    font-size: var(--medium-font);
    font-weight: bold;
    color: #fff;
}

.divider{
    width: 100%;
    margin: 4px 0;
    border: var(--border-gray);
}

/* ========================================================================================================= */

.topic__recommendation{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    padding: 16px;
    cursor: pointer;
    border-top: var(--border-gray);
}

.topic__recommendation:hover{
    background: var(--card-bg);
}

.topic{
    display: flex;
}

.topic__iconbox{
    width: 28px;
    height: 28px;
    margin-right: 12px;
    border-radius: 50%;
    text-align: center;
    background: var(--primary-color);
}

.bi-chat-text{
    display: inline;
    width: 28px;
    height: 28px;
    color: #fff;
    line-height: 28px;    
}

.topic__texts{
    display: flex;
    flex-direction: column;
}

.topic__title{
    font-size: var(--medium-font);
    font-weight: bold;
    color: var(--other-font);
}

.topic__subtitle{
    font-size: var(--medium-font); 
    color: var(--inactive-font);
}

.topic__button{
    width: 105px;
    height: 32px;
    padding-left: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topic__cta{
    width: 100%;
    height: 32px;
    font-weight: bold;
    border-radius: 16px;
    border: .1px solid rgba(128, 128, 128, 0.3 );
    line-height: 32px;
    text-align: center;
    font-size: var(--medium-font);
    cursor: pointer;
}

/* ======================================================================================================= */

.topic__showmore{
    width: 100%;
    height: auto;
    padding: 16px;
    cursor: pointer;
    border-bottom: var(--border-gray);
}

.topic__showmore:hover{
    background: var(--card-bg);
}

.showmore__text{
    font-size: var(--medium-font);
    color: var(--primary-color);
    width: 100%;
    height: 20px;
}

/* =========================================================================================== */

@media screen and (min-width: 1021px ) and (max-width: 1113px) {

    .container{
        margin: 0 auto;
    }

    .explore{
        width: 920px;
    }

    .explore__right{
        width: 290px;
    }

}

@media screen and (min-width: 700px ) and (max-width: 1021px) {

    .explore__right{
        display: none;
    }

}

@media screen and (min-width: 500px ) and (max-width: 700px) {

    .explore{
        width: 100%;
    }

    .explore__left{
        max-width: 599px;
    }

    .explore__right{
        display: none;
    }

    .explore__header{
        width: 100%;
    }

    .explore__tabs{
        width: 100%;
    }

    .exp__cta{
        font-size: var(--small-font);
        font-weight: 400;
    }

}

@media screen and ( max-width: 500px ) {

    .explore{
        width: 100vw;
        height: auto;
        padding: 0;
    }

    .explore__right{
        display: none;
    }

    .explore__header{
        display: none;
    }

    .explore__header-mobile{
        display: flex;
    }

    .explore__tabs{
        position: absolute;                    
        overflow-x: scroll;
    }

    .explore__tab{        
        width: max-content;
        padding: 0 16px;
    }

    .news__section{
        width: 100%;
        margin-top: 0;
        margin-bottom: 53px;
    }

    .exp__cta{
        font-size: var(--small-font);
        font-weight: 400;
    }

    .headline__picture{
        height: 230px;
    }

    .img__gradient{
        width: 100%;
        height: 230px;
    }

    .headline__texts{
        display: none;
    }

    .headline__texts-responsive{        
        display: flex;
    }    

}