<section class="bookmarks">

    <article class="bookmarks__left">

        <header class="header">

            <div class="header__return">
                
                <app-back></app-back>

            </div>

            <div class="header__texts">

                <span class="header__bookmark"> Bookmarks </span>
                <span class="header__username"> @{{ user.username }} </span>

            </div>

            <div class="header__dots-clear">

                <i class="bookmark__icon bi bi-three-dots"></i>

            </div>

        </header>

        <ng-container *ngIf="activeSpinner">

            <div class="spinner"></div>

        </ng-container>

        <ng-container *ngIf="!bookmarksExists">        
        
            <aside class="without__bookmarks">

                <div class="wo__card">

                    <div class="wo__picture">

                        <img src="https://abs.twimg.com/sticky/illustrations/empty-states/book-in-bird-cage-800x400.v1.png" alt="" class="wo__img">

                    </div>

                    <div class="wo__texts">

                        <span class="wo__title"> Save Tweets for later </span>
                        <span class="wo__subtitle"> Don’t let the good ones fly away! Bookmark Tweets to easily find them again in the future. </span>

                    </div>

                </div>

            </aside>

        </ng-container>
        
        <ng-container *ngIf="bookmarksExists">        

            <aside *ngFor="let bookmark of bookmarks"  class="animate__animated animate__fadeIn">
                
                <app-tweet-card [tweet]="bookmark"></app-tweet-card>
                
            </aside>

        </ng-container>        

    </article>

    <article class="bookmarks__right">

        <div class="profile__search">            

            <input type="text" 
                   placeholder="Search Twitter"
                   class="input__search">

            <i class="bi bi-search"></i>

        </div>

        <aside class="who__follow">

            <span class="who__like">You might like</span>

            <div class="like__recomendation">

                <div class="recomendation__picture">

                    <img src="https://www.biografiasyvidas.com/monografia/newton/fotos/newton_joven.jpg" 
                    alt=""
                    class="recomendation__img">
                    
                </div>

                <div class="recomendation__texts">

                    <div class="recomendation__names">

                        <span class="recomendation__name"> Bryan Rios </span>
                        <span class="recomendation__username"> @Bryan </span>

                    </div>

                    <a class="recomendation__cta"> Follow </a>

                </div>

            </div>

            <div class="like__recomendation">

                <div class="recomendation__picture">                    
                    <img src="https://www.cladera.org/biografias/pics/cientificos/bohr.jpg" 
                    alt=""
                    class="recomendation__img">

                </div>

                <div class="recomendation__texts">

                    <div class="recomendation__names">

                        <span class="recomendation__name"> Alberto Uribe </span>
                        <span class="recomendation__username"> @AlUribe </span>

                    </div>

                    <a class="recomendation__cta"> Follow </a>

                </div>

            </div>

            <span class="show"> Show more </span>

        </aside>

        <aside class="whats__happening">

            <span class="whats__title"> Whats's happening </span>

            <article class="card__new" *ngFor="let item of newService.newScienceResult">
                
                <img [src]="item.urlToImage" alt="" class="new__img">

                <div class="card__texts">

                    <div class="card__theme">

                        <span class="card__theme-header"> Science · 3 hours ago </span>

                        <span class="card__title">{{ item.title }}</span>

                    </div>

                </div>

            </article>

            <aside class="trending">

                <div class="trending__theme">

                    <span class="trending__theme-header"> Trending in Mexico </span>

                    <i class="bi bi-three-dots"></i>

                </div>

                <div class="trending__title">

                    <span class="trending__span"> Tesla Motors </span>

                </div>

                <div class="trending__footer">

                    <span class="footer__span"> Trending with 

                        <a href="" class="trending__link"> Technology </a> 

                    </span>

                </div>

            </aside>

            <aside class="trending">

                <div class="trending__theme">

                    <span class="trending__theme-header"> Trending in Mexico </span>

                    <i class="bi bi-three-dots"></i>

                </div>

                <div class="trending__title">

                    <span class="trending__span"> FinTech </span>

                </div>

                <div class="trending__footer">

                    <span class="footer__span"> Trending with 

                        <a href="" class="trending__link"> Technology </a> 
                        
                    </span>

                </div>

            </aside>

            <article class="card__new" *ngFor="let item of newService.newTechnologyResult">
                
                <img [src]="item.urlToImage" alt="" class="new__img">

                <div class="card__texts">

                    <div class="card__theme">

                        <span class="card__theme-header"> Technology · 2 hours ago </span>

                        <span class="card__title">{{ item.title }}</span>

                    </div>

                </div>

            </article>

        </aside> 

    </article>

</section>


