<ng-container *ngIf="!user">

    <aside class="width">

        <div class="wait">

            <div class="spinner"></div>
            
        </div>

    </aside>

</ng-container>

<ng-container *ngIf="user">

    <div class="userprofile">

        <ng-container *ngIf="!lookFollows">

            <section class="userprofile__left">

                <div class="header__profile">
            
                    <div class="icon__return">
                        <i class="bi bi-arrow-left" (click)="back()"></i>
                    </div>
            
                    <div class="profile__name">
                        <h1 class="header__text"> {{ user.firstName }} </h1>
                        <p class="small__font"> {{ data.length }} {{ title | titlecase }} </p>
                    </div>
            
                </div>
            
                <div class="profile__picture">
                    <img [src]="user.imagenPortada" class="profile__img--port">
                </div>
            
                <div class="profile__data">
            
                    <div class="profile__user">
            
                        <img [src]="user.imagenUrl"                              
                             alt="" 
                             class="profile__img">
        
                        <div class="follow__section">
        
                            <div class="follow__options">
                                    
                                <i class="fcta bi bi-three-dots"></i>

                                <ng-container *ngIf="!notificationsState">
                                    
                                    <i class="fcta bi bi-bell" (click)="changeNotificationState()">
                                        <i class="bi bi-plus"></i>
                                    </i>

                                </ng-container>

                                <ng-container *ngIf="notificationsState">
                                    
                                    <i class="fcta bi-bell-fill" (click)="changeNotificationState()">
                                        <i class="bi bi-check"></i>
                                    </i>

                                </ng-container>

                                <i class="fcta fa-regular fa-envelope"
                                [routerLink]="['/messages']">
        
                                </i>
        
                            </div>
        
                            <button *ngIf="!isFollow" 
                                    (click)="newFollow( user )" 
                                    class="profile__cta" 
                                    type="button"> 
        
                                    Follow 
        
                            </button>
        
                            <button *ngIf="isFollow" 
                                    (click)="openModal()" 
                                    class="profile__cta-following" 
                                    type="button"
                                    (mouseover)="unFollow()"
                                    (mouseleave)="follow()"> 
                                    
                                    {{ textAction }} 
        
                            </button>
                            
                        </div>
        
                        
                    </div>
                    
                    <div class="profile__texts">
            
                        <div class="profile__user-data">
                            <span class="profile__name"> {{ user.firstName }} {{ user.lastName }} </span>
                            <span class="profile__username"> @{{ user.username }} </span>
                        </div>
            
                        <span class="profile__bio">{{ user.bio }}</span>
            
                        <div class="profile__joined">
                            <div class="profile__joined-section">                                
                                <i class="icon-bi bi bi-geo-alt" *ngIf="user.location"></i>
                                <span class="profile__joined-text"> {{ user.location }} </span>
                            </div>
            
                            <div class="profile__joined-section">
                                <i class="icon-bi bi bi-link-45deg" *ngIf="user.website"></i>
                                <a class="link" [href]="[user.website]" target="_blank"> {{ user.website }} </a>
                            </div>    

                            <div class="profile__joined-section">
                                <i class="icon-bi bi bi-calendar3"></i>
                                <span class="profile__joined-text"> Joined {{ user.createdAt | date:'MMMM yyyy' }}</span>
                            </div>

                        </div>
                        
                        <div class="profile__follows">
                            
                            <div class="follows__link" 
                                [routerLink]="['followings']"
                                (click)="sectionFollows( true )">

                                <p class="profile__text--color"> {{ user.followings?.length }} </p><span class="profile__text--color">Following</span>

                            </div>
            
                            <div class="follows__link" 
                                [routerLink]="['followers']"
                                (click)="sectionFollows( true )">

                                <p class="profile__text--color"> {{ user.followers?.length }} </p><span class="profile__text--color">Followers</span>

                            </div>
            
                        </div>
            
                    </div>
            
            
            
                </div>
            
                <div class="profile__routes">
            
                    <div class="route" 
                        *ngFor="let item of mainMenu.defaultOptions" 
                        [routerLink]="item.router"
                        #rla="routerLinkActive"
                        [routerLinkActiveOptions]="{ exact: true } "
                        [routerLinkActive]="'active'">
                        
                        <a  
                        [ngClass]="{'route__underline': rla.isActive}"> 
                        
                        {{ item.name }} 
        
                        </a>
                        
                    </div>
            
                </div>
        
            
                <div class="routes">
                    <router-outlet></router-outlet>
                </div>
            
            </section>

        </ng-container>

        <ng-container *ngIf="lookFollows">

            <section class="follows__list">

                <div class="follows__header">

                    <i class="bi bi-arrow-left" (click)="sectionFollowsClose()"></i>

                    <div class="follows__profile">

                        <span class="profile__names"> {{ user.firstName }} </span>
                        <span class="profile__username-small"> @{{ user.username }} </span>

                    </div>

                </div>

                <article class="follows__tabs">

                    <div class="tabs">

                        <a class="tab__followers" 
                            [ngClass]="{'route__underline': title === 'followers' }"
                            [routerLink]="['followers']">Followers</a>

                        <a class="tab__following" 
                            [ngClass]="{'route__underline': title === 'followings' }"
                            [routerLink]="['followings']">Following</a>

                    </div>
            
                    <div class="routes">
                        <router-outlet></router-outlet>
                    </div>

                </article>

            </section>

        </ng-container>

        <div class="userprofile__right">

            <div class="profile__search">            

                <input type="text" 
                       placeholder="Search Twitter"
                       class="input__search">
    
                <i class="bi bi-search"></i>
    
            </div>

            <aside class="who__follow">

                <span class="who__like">You might like</span>
    
                <div class="like__recomendation">
    
                    <div class="recomendation__picture">
    
                        <img src="https://www.biografiasyvidas.com/monografia/newton/fotos/newton_joven.jpg" 
                        alt=""
                        class="recomendation__img">
                        
                    </div>
    
                    <div class="recomendation__texts">
    
                        <div class="recomendation__names">
    
                            <span class="recomendation__name"> Bryan Rios </span>
                            <span class="recomendation__username"> @Bryan </span>
    
                        </div>
    
                        <a class="recomendation__cta"> Follow </a>
    
                    </div>
    
                </div>
    
                <div class="like__recomendation">
    
                    <div class="recomendation__picture">                    
                        <img src="https://www.cladera.org/biografias/pics/cientificos/bohr.jpg" 
                        alt=""
                        class="recomendation__img">
    
                    </div>
    
                    <div class="recomendation__texts">
    
                        <div class="recomendation__names">
    
                            <span class="recomendation__name"> Alberto Uribe </span>
                            <span class="recomendation__username"> @AlUribe </span>
    
                        </div>
    
                        <a class="recomendation__cta"> Follow </a>
    
                    </div>
    
                </div>
    
                <span class="show"> Show more </span>
    
            </aside>
    
            <aside class="whats__happening">
    
                <span class="whats__title"> Whats's happening </span>
    
                <article class="card__new" *ngFor="let item of newService.newScienceResult">
                    
                    <img [src]="item.urlToImage" alt="" class="new__img">
    
                    <div class="card__texts">
    
                        <div class="card__theme">
    
                            <span class="card__theme-header"> Science · 3 hours ago </span>
    
                            <span class="card__title">{{ item.title }}</span>
    
                        </div>
    
                    </div>
    
                </article>
    
                <aside class="trending">
    
                    <div class="trending__theme">
    
                        <span class="trending__theme-header"> Trending in Mexico </span>
    
                        <i class="bi bi-three-dots"></i>
    
                    </div>
    
                    <div class="trending__title">
    
                        <span class="trending__span"> Tesla Motors </span>
    
                    </div>
    
                    <div class="trending__footer">
    
                        <span class="footer__span"> Trending with 
    
                            <a href="" class="trending__link"> Technology </a> 
    
                        </span>
    
                    </div>
    
                </aside>
    
                <aside class="trending">
    
                    <div class="trending__theme">
    
                        <span class="trending__theme-header"> Trending in Mexico </span>
    
                        <i class="bi bi-three-dots"></i>
    
                    </div>
    
                    <div class="trending__title">
    
                        <span class="trending__span"> FinTech </span>
    
                    </div>
    
                    <div class="trending__footer">
    
                        <span class="footer__span"> Trending with 
    
                            <a href="" class="trending__link"> Technology </a> 
                            
                        </span>
    
                    </div>
    
                </aside>
    
                <article class="card__new" *ngFor="let item of newService.newTechnologyResult">
                    
                    <img [src]="item.urlToImage" alt="" class="new__img">
    
                    <div class="card__texts">
    
                        <div class="card__theme">
    
                            <span class="card__theme-header"> Technology · 2 hours ago </span>
    
                            <span class="card__title">{{ item.title }}</span>
    
                        </div>
    
                    </div>
    
                </article>
    
            </aside> 

        </div>

    </div>

</ng-container>



<section class="modal" [class.hidden]="modalService.modalSmall">

    <div class="modal__small">
        
        <h1 class="modal__title"> Unfollow @{{ user.username }}</h1>
        <p class="modal__paragraph">Their Tweets will no longer show up in your home timeline. You can still view their 
            profile,unless their Tweets are protected. </p>
        
        <div class="buttons">
            
            <button (click)="deleteFollow( user )" 
                    class="button__up" 
                    type="button">
                    Unfollow
            </button>

            <button class="button__down" 
                    type="button"
                    (click)="modalService.closeModalSmall()">                    
                    Cancel
            </button>
            
        </div>
    </div>

</section>


